# Object files
*.o

# Executables
client
server

# Core dumps
core

# OS junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Backup/swap files
*~
*.swp
*.bak

# Test outputs or temporary files
*.out
*.log

#other
*.txt
.vscode
*.pipe
FIFO_C2S_*
FIFO_S2C_*
*.md